HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.DS_Store
.env
certs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Properties ###
#security
**/naver.yml
**/google.yml
**/kakao.yml
**/temp-token.yml
**/jwt.yml

#external
**/tmdb.yml
**/mail.yml

#etc
**/frontend.yml

#DB
**/mysql.yml
**/jpa.yml
**/redis.yml
**/elasticsearch.yml
**/s3.yml

#docker
docker-compose.yml